nav {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 2vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5vh;
    z-index: 1 !important;
}

#menu-toggle {
    display: none;
}

.navContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1 !important;
}

.ulNav {
    list-style: none;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    background-color: #D9D9D9;
    z-index: 1 !important;
}

li .link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.active {
    color: white !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: default !important;
}

li .link:hover {
    color: #fff;
    cursor: pointer;
}

#menu-toggle:checked+.menu-button-container .burger::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .burger {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .burger::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media screen and (max-width: 1024px) {
    .ulNav {
        width: 80%;
    }
}

@media (max-width:680px) {
    .menu-button-container {
        display: flex;
        height: 60%;
        width: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .burger,
    .burger::before,
    .burger::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
        z-index: 3;
        -webkit-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .burger::before {
        content: '';
        margin-top: -8px;
    }

    .burger::after {
        content: '';
        margin-top: 8px;
    }

    .ulNav {
        position: fixed;
        padding: 0;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        background-color: transparent;
        margin-top: 6.5vh;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .link {
        display: none;
    }

    #menu-toggle~.ulNav li {
        height: 0;
        margin: 0;
        padding: 0 !important;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.ulNav li .link {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    nav {
        background-color: rgba(204, 204, 204, 0.6);
        margin: 0;
    }

    #menu-toggle:checked~.ulNav li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .ulNav>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        color: white;
        background-color: rgba(204, 204, 204, 0.6);
    }

    .ulNav>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }


}