.modalTitle {
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 2.5rem !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modalContent {
    color: white;
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-inline: 1rem;
}

.carrousel {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 120em;
    padding: 1em;
    overflow: hidden;
}

.carrousel .grande {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 2em;
    transition: all .8s ease !important;
    -webkit-transition: all .8s ease !important;
    -moz-transition: all .8s ease !important;
    -ms-transition: all .8s ease !important;
    -o-transition: all .8s ease !important;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    gap: 5em;
}

.carrousel .img {
    min-height: 10vh;
}

.carrousel .puntos {
    width: 100%;
    background-color: gray;
    padding: .4em;
    margin: 1em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: .5em 1em .5em 1em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    list-style: none;
    background-color: white;
    cursor: pointer;
}

.carrousel .punto.activo {
    background-color: orange;
    cursor: default;
}

/* TEXT STYLES */
.modalText-center {
    text-align: center;
}

.modalML1 {
    margin-left: 0rem;
}

.modalM5 {
    margin: 5rem;
}

.modalML5 {
    margin-left: 5rem;
}

.list-item {
    display: flex;
    flex-direction: row;
    display: list-item;
}

.categoria {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ff6600;
    margin-right: .5rem;
}

.contenido {
    font-size: 1.1rem;
    color: #fff;
}

.tecContainer {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.textIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.tecIcon {
    outline: none !important;
    background: none !important;
    height: 3rem !important;
    margin-right: 1rem;
    object-fit: cover;
}

.blockCenter {
    display: block;
    margin: 0 auto;
}

.spacebottom {
    margin-bottom: 5rem;
}

@media screen and (max-width:600px) {
    .carrousel {
        width: 100%;
    }
}