.modalTitle {
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 2.5rem !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modalContent {
    color: white;
    text-align: justify;
    padding: 10px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
}

.carrousel {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 120em;
    padding: 2em;
    overflow: hidden;
}

.carrousel .grande {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    gap: 5em;
}

.carrousel .img {
    min-height: 10vh;
}

.carrousel .puntos {
    width: 100%;
    background-color: gray;
    padding: .4em;
    margin: 1em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    list-style: none;
    background-color: white;
    cursor: pointer;
}

.carrousel .punto.activo {
    background-color: orange;
    cursor: default;
}

/* TEXT STYLES */
.modalText-center {
    text-align: center;
}

.modalM5 {
    margin: 5rem;
}

.modalML5 {
    margin-left: 5rem;
}

.modalRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}


@media screen and (max-width:600px) {
    .carrousel {
        width: 100%;
    }
}